.root {
   --slider-size-xs: calc(0.25rem*var(--mantine-scale));
   --slider-size-sm: calc(0.375rem*var(--mantine-scale));
   --slider-size-md: calc(0.5rem*var(--mantine-scale));
   --slider-size-lg: calc(0.625rem*var(--mantine-scale));
   --slider-size-xl: calc(0.75rem*var(--mantine-scale));
   --slider-size: var(--slider-size-md);
   align-items: center;
   display: flex;
   flex-direction: column;
   height: calc(var(--slider-size)*2);
   outline: none;
   padding-left: var(--slider-size);
   padding-right: var(--slider-size);
   position: relative;
   touch-action: none;
}

.trackContainer {
   align-items: center;
   cursor: var(--_track-cursor, pointer);
   display: flex;
   height: calc(var(--slider-size)*2);
   width: 100%;
}

.track {
   height: var(--slider-size);
   position: relative;
   width: 100%;
}

.track::before {
   border-radius: var(--slider-radius);
   bottom: 0;
   position: absolute;
   top: 0;
   content: "";
   left: calc(var(--slider-size)*-1);
   right: calc(var(--slider-size)*-1);
   z-index: 0;
   background: linear-gradient(to right, rgb(34, 139, 230), rgb(34, 139, 230), rgb(34, 139, 230), rgb(84, 134, 231), rgb(176, 111, 213), rgb(232, 83, 166), rgb(251, 76, 102), rgb(250, 82, 82), rgb(250, 82, 82), rgb(250, 82, 82));
}

.bar {
   left: var(--slider-bar-offset);
   width: var(--slider-bar-width);
   z-index: 1;
}

.thumb {
   align-items: center;
   background-color: var(--_thumb-bg);
   border: calc(.25rem*var(--mantine-scale)) solid var(--_thumb-bd);
   border-radius: var(--slider-radius);
   box-shadow: var(--_thumb-box-shadow, none);
   color: var(--_thumb-bd);
   cursor: pointer;
   display: var(--_thumb-display, flex);
   height: var(--slider-thumb-size);
   justify-content: center;
   left: var(--slider-thumb-offset);
   outline-offset: calc(.125rem*var(--mantine-scale));
   position: absolute;
   top: 50%;
   touch-action: none;
   transform: var(--_thumb-transform, translate(-50%, -50%));
   transition: box-shadow .1s ease, transform .1s ease;
   user-select: none;
   width: var(--slider-thumb-size);
   z-index: 3;
}

.label {
   background-color: var(--_label-bg);
   border-radius: var(--mantine-radius-sm);
   color: var(--mantine-color-white);
   font-size: var(--mantine-font-size-xs);
   padding: calc(var(--mantine-spacing-xs)/2);
   pointer-events: none;
   position: absolute;
   top: calc(-2.25rem*var(--mantine-scale));
   touch-action: none;
   user-select: none;
   white-space: nowrap;
   top: 0;
   height: rem(28);
   width: rem(38);
   line-height: rem(28);
   padding: 0,;
   display: "flex";
   align-items: "center";
   justify-content: "center";
   font-weight: 700;
   background-color: "transparent";
}

.markWrapper {
   height: 0;
   left: calc(var(--mark-offset) - var(--slider-size)/2);
   pointer-events: none;
   position: absolute;
   top: 0;
   z-index: 2;
}

.mark {
   background-color: var(--_mark-bg, var(--mantine-color-white));
   border: calc(.125rem*var(--mantine-scale)) solid var(--_mark-bd);
   border-radius: calc(62.5rem*var(--mantine-scale));
   height: var(--slider-size);
   pointer-events: none;
   transform: translateX((calc(var(--slider-size)/-2)));
   width: var(--slider-size);
}

.markLabel {
   color: var(--_mark-label-color);
   cursor: pointer;
   font-size: var(--mantine-font-size-sm);
   transform: translate(calc(-50% + var(--slider-size)/2), calc(var(--mantine-spacing-xs)/2));
   user-select: none;
   white-space: nowrap;
}
[data-mantine-color-scheme="light"] .markLabel{
   --_mark-label-color: var(--mantine-color-gray-6);
}